<div class="container" data-ng-controller="FooterController">
  <br />
  <hr class="light-blue-border" />
  <br />
  <div class="card-panel">
  <div class="row">
    <div class="col-md-3">
    <i class="glyphicon glyphicon-earphone"></i> &nbsp; <span class="green-text">(516) 315-9151 </span>
    </div>
    <div class="col-md-6">
    <i class="glyphicon glyphicon-road"></i> &nbsp; <span class="orange-text darken-2">966 West Beech Street Long Beach, NY 11561
    </span>
    </div>
    <div class="col-md-3">
    <i class="glyphicon glyphicon-envelope"></i>
    <a href="/#!/" class="text-amber"> Contact Us</a>

    </div>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a class="indigo-text" href="/#!/">About</a> &nbsp;
      <a class="indigo-text" href="/#!/">Home</a>
    </div>
    <div class="col-md-6">
    <copyright class="pink-text text-center">&copy; Copyright Pammy Cake Creations {{copyYear}}. Rights Reserved.</copyright>
    </div>
    <div class="col-md-3">
      <span class="brown-text text-lighten-2">Site by: <a class="indigo-text" href="http://linkedin.com/in/RazGoldin">Raz</a></span>
    </div>
  </div>
  </div>
</div>