<section data-ng-controller="HomeController">
	<div class="text-center white card-panel">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Pammy Cake Creations" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<h6 class="lead">
				Pammy Cake Creations new website!
			</h6>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="https://instagram.com/stackscakes/" target="_blank">learn more</a>
			</p>
		</div>
	</div>
	<h3>If you have an event coming up. We can help!</h3>
	<div class="row">
		<div class="col-md-4 card-panel">
			<h2>Wedding</h2>
			<img alt="Pammy Cake Creations: Seashell Wedding" class="img-home text-center" src="modules/core/img/dessert/Seashell-wedding-cake.jpg" />
		</div>
		<div class="col-md-4 card-panel">
			<h2>Birthday</h2>
			<img alt="Pammy Cake Creations: Logan Giant Cake" class="img-home text-center" src="modules/core/img/dessert/about_us_cake.png" />
		</div>
		<div class="col-md-4 card-panel">
			<h2>Special</h2>
			<img alt="Pammy Cake Creations: Giants-Helmet" class="img-home text-center" src="modules/core/img/dessert/Giants-Theme-with-Helmet.jpg" />
		</div>
	</div>
	<div class="card-panel">
		<h2>Welcome to Pammy Cake Creations!</h2>
		<p>Pammy Cake Creations was founded by Pamela Fallica. She received her Associates Degree in Baking and Pastry Arts from Johnson &amp; Wales University in Providence, Rhode Island and her Bachelor’s Degree in Hotel/Restaurant Management from New York City College of Technology in Brooklyn, New York. She also had the opportunity to study abroad in Paris, France.</p>

	</div>
</section>