<section data-ng-controller="CategoriesController" data-ng-init="find()">
  <div class="card-panel brown lighten-4">
      <h1>Categories</h1>
      <h3 class="control-label brown-text text-darken-1" for="search">
      Find your dessert!
      </h3>
  <div class="input-group">
      <input type="search" data-ng-model="search" typeahead="category as category.name for category in categories | filter:$viewValue | limitTo:8" class="form-control hint input-lg" typeahead-on-select="categorySearch($item)" placeholder="Brownies">
      <span class="input-group-btn">
        <button class="btn btn-lg btn-primary" type="button">
        <i title="search" class="glyphicon glyphicon-search"></i>
        </button>
      </span>
  </div>
  </div>
  <div class="row">
    <a data-ng-repeat="category in categories | limitTo: offset - categories.length | limitTo: pageSize" data-ng-href="/#!/categories/{{category._id}}" class="card-panel col-md-6 avatar">
      <h3 class="list-group-item-heading" data-ng-bind="category.name"></h3>
      <i class="{{category.icon}}"></i> &nbsp; <span data-ng-bind="category.description"></span>
      <img src=""/>
    </a>
  </div>
  <pagination total-items="categories.length" ng-model="currentPage" ng-change="pageChanged()" max-size="pageSize" ng-show="categories.length > pageSize"></pagination>
  <div class="alert alert-warning text-center" data-ng-hide="!categories.$resolved || categories.length">
    No categories yet, why don't you <a href="/#!/categories/create">create one</a>?
  </div>
</section>