<section data-ng-controller="CategoriesController" data-ng-init="find()">
  <div class="card-panel">
      <h1>Categories</h1>
  <div class="form-group has-feedback">
      <label class="control-label brown-text text-darken-1" for="search">
      Find your dessert!
      </label>
      <i class="form-control-feedback glyphicon glyphicon-search deep-orange-text"></i>
      <input type="search" data-ng-model="search" typeahead="category as category.name for category in categories | filter:$viewValue | limitTo:8" class="form-control hint" typeahead-on-select="categorySearch($item)" placeholder="Search Category...">
  </div>
  </div>
  <div class="list-group row">
    <a data-ng-repeat="category in categories | limitTo: offset - categories.length | limitTo: pageSize" data-ng-href="#!/categories/{{category._id}}" class="list-group-item card-panel col-md-6">
      <h3 class="list-group-item-heading" data-ng-bind="category.name"></h3>
      <i class="{{category.icon}}"></i> &nbsp; <span data-ng-bind="category.description"></span>
    </a>
  </div>
  <pagination total-items="categories.length" ng-model="currentPage" ng-change="pageChanged()" max-size="pageSize" ng-show="categories.length > pageSize"></pagination>
  <div class="alert alert-warning text-center" data-ng-hide="!categories.$resolved || categories.length">
    No categories yet, why don't you <a href="/#!/categories/create">create one</a>?
  </div>
</section>